@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins:ital@1&display=swap');
* {
	box-sizing: border-box;
}
body {
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
  background-color: rgb(35, 35, 35);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.underline{
    text-decoration: underline white;
}

h2,
h3,
Link,h1,a,button {
  color: white;
	font-family:Helvetica;
}

Link,a, button{
	text-decoration: none;
  align-items: center 
}


.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a, Link, button {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a, button {
	font-size: .99em;
}

/* .main-nav a:hover {
	color: #718daa;
}
 */


.header {
	padding-top: .5em;
	padding-bottom: .5em;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

button {
  -webkit-appearance: none;
  border-radius: 0;
  background: none;
  box-shadow: none;
  cursor: pointer;
  border: none;

}



*{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
/* .container h1{color:black} */
body{
    --color-primary:#2d3436;
    --color-secondary:#252c6a;
    --border-radius:4px;
    height: 100vh;
}
.center{
    display: flex;
        align-items: center;
        justify-content: center;
}
.container{
    width:400px;
    max-width:400px;
    margin:1rem;
    padding:2rem;
    border-radius: var(--border-radius);
    background: rgb(23, 23, 23);
}

.form--hidden{
    display: none;
}

.form > *:first-child{
    margin-top:0;
}

.form >*:last-child{
    margin-bottom:0;
}

.form__title{
    margin-bottom: 2rem;
    text-align: center;
}

.form__input-group{
    margin-bottom: 1rem;
}

.form__input{
    display:block;
    width:100%;
    padding:0.75rem;
    box-sizing:border-box;
    border-radius: var(--border-radius);
    border:1px solid #ddd;
    outline:none;
    background: #eee;
    transition: background 0.2s border-color 0.2s;
}

.form__input:focus{
    border-color:var(--color-primary);
    background: #fff;
}

.form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
    border:none;
    border-radius: var(--border-radius);
    outline:none;
    cursor: pointer;
    background: var(--color-primary);
    -webkit-user-select: none;
}

.form__button:active{
    transform: scale(0.98);
}

.padding{
    padding-bottom:10px;
}

.body-style{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.larger{
    font-size: 10vh;
}
.c{
    text-align: center;
}
.img{
    border-radius: 50%;
}