@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins:ital@1&display=swap');

/* Global Styles */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    min-height: 100vh;
    background-color: #f4f4f4;
}

ul {
    list-style: none;
}

a,
button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* Common Styles */
.header {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.main-nav {
    display: flex;
    justify-content: center;
}

.logo {
    margin-right: auto;
}

.main-nav li {
    margin-left: 1rem;
}

/* Home Page */
.home-page {
    background-color: #f9f9f9;
    padding: 2rem;
}

.home-page h1 {
    color: #333;
    text-align: center;
}

/* Profile Page */
.profile-page {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-page h1 {
    color: #333;
    text-align: center;
}

.profile-info {
    margin-top: 1rem;
    text-align: center;
}

/* Sign In Page */
.signin-page {
    background-color: #f4f4f4;
    padding: 2rem;
}

.signin-page .form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signin-page .form__title {
    color: #333;
    text-align: center;
}

.signin-page .form__input-group {
    margin-bottom: 1.5rem;
}

.signin-page .form__input {
    border: 1px solid #ccc;
    padding: 0.75rem;
    border-radius: 3px;
    width: 100%;
    transition: border-color 0.3s ease;
}

.signin-page .form__input:focus {
    border-color: #666;
}

.signin-page .form__button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.signin-page .form__button:hover {
    background-color: #0056b3;
}